/* Global Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #007bff;
    padding: 30px 0;
    text-align: center;
    color: #fff;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Main Content Styles */
main {
    margin-top: 50px;
}

#speechInput {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
}

#resultBox {
    border: 2px solid #007bff;
    padding: 10px;
    min-height: 100px;
    font-size: 1.1em;
}

/* Button Styles */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

/* Add icon styles */
#startButton {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    font-size: 46px; /* Increase the font size */
    cursor: pointer;
    height: 100px; /* Adjust the height of the container */
}


/* Adjust icon size and color */
#startButton i {
    font-size: 24px;
    color: #007bff; /* Match with button color */
}

button:hover {
    background-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
